<!DOCTYPE HTML>

<html>
<head>
<title>Cocktail</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="assets/css/main.css" />
<noscript>
	<link rel="stylesheet" href="assets/css/noscript.css" />
</noscript>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body class="right-sidebar is-preload">
	<div id="page-wrapper">
		<!-- header -->
		<div th:replace="/header :: header"></div>
		<!-- Main -->
		<div id="cockBack" class="wrapper style1">
			<!-- 검색 기능 틀-->
			<div class="input-group">
				<input type="text" class="form-control rounded" id="search"
					placeholder="Search" aria-label="Search"
					aria-describedby="search-addon" style="margin-right: 10px;" />
				<button id="searchBtn" class="btn btn-outline-primary">search</button>
			</div>
			<br>
			<!--칵테일 정보 토글 임시데이터-->

			<div id="cocktailPrv">
				<details id = "cockDetail" th:each="b:${list}">
					<!--summary에 칵테일 이름-->
					<summary th:text="${b.cock_name}">임시데이터1</summary>
					<!--각 p태그에 칵테일정보-->
					<P th:text="${b.cock_desc}"></P>
					<img th:src="${b.cock_image}" style = "height : 200px; width : 200px">
				</details>
			</div>
			<hr />

		</div>
	</div>
	<div th:replace="/footer :: footer"></div>
	
	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.dropotron.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>
	<script src="assets/js/search.js"></script>

</body>
</html>