<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>카카오 로그인</title>
<link rel="stylesheet" href="./style2.css" />
</head>
<body>
	<div class="container">
		<h1>kakao Login API 사용하기</h1>
		<ul>
			<li onclick="kakaoLogin();"><a href="javascript:void(0)">카카오
					로그인</a></li>
			<li onclick="kakaoLogout();"><a href="javascript:void(0)">카카오
					로그아웃</a></li>
			<!-- 추가된 부분 -->
			<!-- 사용자 정보를 보여줄 공간 -->
			<div id='user-info'></div>
		</ul>
	</div>
	<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="assets/js/kakaoLogin.js"></script>
</body>
</html>
